[tool.black]
line-length = 100
target-version = ['py310']

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
  "C",
]
ignore = [
  "W293",  # Blank line contains whitespace
  "E501",  # Line too long
]
