<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crop-ai - Crop Identification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ng/styles.css' %}">
</head>
<body>
    <app-root></app-root>
    <script src="{% static 'ng/runtime.js' %}" type="module"></script>
    <script src="{% static 'ng/polyfills.js' %}" type="module"></script>
    <script src="{% static 'ng/main.js' %}" type="module"></script>
</body>
</html>
